lol-social-avatar[ref='iconElement'], .lol-social-identity.ember-view > .details {
    z-index: 1 !important;
}
#BadApple {
    position: absolute; 
    inset: 0px;
}
#BadApple-video {
    width: 500px; 
    margin-top: 200px;
    margin-left: 100px;
}
